body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.header {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 40px;
  
}

.container {
  min-height: 500px;
  width: 400px auto;
  margin: 100px auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;

  background: rgba(255, 255, 255,0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#input {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;

  margin-top: 50px;
  height: 2.5em;
  width: 250px;
  padding: 10px;
  font-size: 20px;
}

#display {
  text-align: justify;
  color: rgb(255, 255, 255);
  font-size: 26px;
  margin-top: 5px;
}

#display p {
  margin: 10px 0px;
}

#display p:hover {
  cursor: pointer;
}


